.form-login {
    &__dialog {
        width: 100%;
        height: 100%;
        position: relative;
    }
    &__control {
        margin: 2rem;
        position: relative;
        margin-top: 4rem;
    }
    &__img {
        width: 60%;
        align-self: center;
        justify-self: center;
    }
    &__input {
        background-color: transparent !important;
    }
    &__controlBtn {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        bottom: 15%;
        left: 0;
        width: 105%;
    }
    &__label {
        margin-bottom: 0.6rem;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 1.5px;
    }
    &__title {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
    &__register {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    &__link {
        text-transform: capitalize;
        font-style: italic;
    }
}

.form-control {
    background-color: transparent !important;
}
.MuiPaper-root {
    width: 100%;
    height: 60%;
    overflow: initial !important;
    // background:  !important;
    background-color: #242629 !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    max-width: 800px !important;
}
.MuiFormGroup-root {
    height: 23%;
}
@media screen and (max-width: 600px) {
    .MuiPaper-root {
        width: auto;
        height: auto;
    }
}
